@import url('./variable.css');

.site-main  .site-banner{
  background: url(./img/banner//home-banner.png) no-repeat;
  background-position: 0% 50%;
  
}

.site-main .site-banner .site-title h3{
  padding-top: 35%;
  font-weight: 500;
}
.site-main .site-banner .site-title h1{
  font-size: 5rem;
}
.site-main .site-banner .site-title h4{
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image >img{
  padding: 7rem 0;
  width: 90rem;
}
.title-text{
  font: normal bold 50px;
  font-family: var(--roboto);
  line-height: 72px;
}

