@import url('./variable.css');

.site-main  .site-banner{
  background: url(./img/banner//home-banner.png) no-repeat;
  background-position: 0% 50%;
  
}

.site-main .site-banner .site-title h3{
  padding-top: 35%;
  font-weight: 500;
}
.site-main .site-banner .site-title h1{
  font-size: 5rem;
}
.site-main .site-banner .site-title h4{
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image >img{
  padding: 7rem 0;
  width: 90rem;
}
.title-text{
  font: normal bold 50px;
  font-family: var(--roboto);
  line-height: 72px;
}

.text-uppercase{
  text-transform: uppercase;
}

.button{
  padding: 0.8rem 2.2rem;
  font: normal 500 16px;
  line-height: 20px;
  font-family: var(--roboto);
  position: relative;
  border:3px solid transparent;
  border-radius: 4px;

}

.button .primary-button{
  background: var(--gradient-color);
  color: whitesmoke;
  transition: background .6s ease;
  box-shadow: var(--box-shadow);
  background-clip: padding-box;
}

.button .primary-button:hover{
  background: whitesmoke;
  color: black;
  background-clip: padding-box;
}
.button .secondary-button{
  background:white;
  background-clip: padding-box;
  transition: background .6s ease;
}
.button .secondary-button:hover{
  background: var(--gradient-color);
  color: whitesmoke;
  box-shadow: var(--box-shadow);

}

.site-main .about-area{
padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 >span{
  display: block;
  font: normal bold 49px/60px var(--roboto);
  letter-spacing: 30px;

}

.site-main .about-area .paragraph .para{
  font-family: var(--roboto);
  line-height: 25px;
  color: var(--text-color);
}

.right-side{
  font-family: var(--roboto);

}

.site-main .brand-area{
  padding: 1rem 0rem;
  margin-bottom: 4rem;
}
.site-main .brand-area .first-row .col-lg-4{
  display: flex;
  justify-content: center;
 
}

.site-main .brand-area .first-row .col-lg-4> .single-brand{
  text-align: center;
  padding: 1rem 0rem;
  margin: .9rem 0;
  width: 180px;
  height: 100px;
  cursor: pointer;
  transition: tranform .4s ease;
}
.site-main .brand-area .first-row .col-lg-4> .single-brand >img{
 width: 50%;
 mix-blend-mode: saturation;
}
.site-main .brand-area .first-row .col-lg-4> .single-brand:hover{
  box-shadow:var(--box-shadow);
  transform: scale(1.1);

}
.site-main .brand-area .first-row .col-lg-4> .single-brand:hover>img{


}

.avatar{
  border-radius: 50%;
}

.avatar:hover{
  box-shadow: var(--box-shadow);
  transform: scale(1);
}

.project-image{
  width: 100%;
  margin: 10%;
}